<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Features</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
          </li>

          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Basic dropdown<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
              </div>
          </li>

      </ul>
      <!-- Links -->

<!-- Search form -->
      <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
          </div>
      </form>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>



  <div class="container" >
    <div class="row">
      <div class="col-xs-4 col-xs-offset-6" style="margin-left: 400px; margin-top: 100px; margin-bottom: 100px;">
        <div class="panel panel-default" >
          <div class="panel-heading" style=" padding: 10px; text-align: center; font-size: 25px;">Login</div>
          <div class="panel-body" style=" padding: 10px; width: 320px;">
            <form class="formGroup" [formGroup]="loginForm">
              <input mdbInput class="form-control btn-block"  placeholder="Enter email" formControlName="email" type="text" style="border-radius: 10px ; padding-left: 10px;">
              <div class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched)" style="margin-left: 10px;">
                Please enter email
              </div>
              <br>
              <input mdbInput class="form-control btn-block" placeholder="Enter password" formControlName= "passWord" type="password" style="border-radius: 10px ;padding-left: 10px;">
              <div class="text-danger" *ngIf="passWord.invalid && (passWord.dirty || passWord.touched)" style="margin-left: 10px;">
                Please enter password
              </div>
              <br>
              <button [disabled]="loginForm.invalid"class="btn btn-primary btn-block" (click)="login()" >Login</button>&nbsp;
              <br>
              <u><a (click)="onSignUpClick()">New user? Signup</a></u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <u><a (click)="onfgPsswd()">Forgot password</a></u>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



